

:root {
    /* Colors */
    --clr-blue: rgba(24, 3, 255, 0.5);
    --clr-yellow: rgba(255, 219, 3, 0.5);

    /* Gap space */
    --space-3xs-xs:clamp(0.25rem, calc(0.01rem + 1.20vw), 1.06rem);

    /* Font */
    --step-4: clamp(2.44rem, calc(2.12rem + 1.59vw), 3.36rem);
    --step-1: clamp(1.25rem, calc(1.05rem + 1.01vw), 1.83rem);
    --step-2: clamp(1.56rem, calc(1.26rem + 1.53vw), 2.44rem);
}
